IP Addresses:
6 nodes
CONTROLPLANE vip 
kube-vip range

RPM Packages:
dnf-plugins-core (redhat)
containerd.io (redhat)
keepalived
haproxy
# Kubernetes version 1.31 rpms
kublet 
kubeadm 
kubectl 

Images:
ghcr.io/kube-vip/kube-vip:v1.0.1
registry.k8s.io/kubernetes --kubernetes-version 1.31.1
ghcr.io/flannel-io/flannel:v0.27.4
ghcr.io/flannel-io/flannel-cni-plugin:v1.8.0-flannel1
ghcr.io/kube-vip/kube-vip-cloud-provider:v0.0.12
registry.k8s.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2


