IP Addresses:
6 nodes
CONTROLPLANE vip 
kube-vip range

RPM Packages:
dnf-plugins-core (redhat)
containerd.io (redhat)
keepalived
haproxy
# Kubernetes version 1.31 rpms
kublet 
kubeadm 
kubectl 

Images:
registry.k8s.io/kube-apiserver:v1.31.14
registry.k8s.io/kube-controller-manager:v1.31.14
registry.k8s.io/kube-scheduler:v1.31.14
registry.k8s.io/kube-proxy:v1.31.14
registry.k8s.io/coredns/coredns:v1.11.3
registry.k8s.io/pause:3.10
registry.k8s.io/etcd:3.5.24-0
ghcr.io/kube-vip/kube-vip:v1.0.1
ghcr.io/flannel-io/flannel:v0.27.4
ghcr.io/flannel-io/flannel-cni-plugin:v1.8.0-flannel1
ghcr.io/kube-vip/kube-vip-cloud-provider:v0.0.12
registry.k8s.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2

quay.io/prometheus-operator/prometheus-config-reloader:v0.87.0
dpage/pgadmin4:latest
ghcr.io/cloudnative-pg/cloudnative-pg:1.27.1
prom/node-exporter:v1.10.2
registry.k8s.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2
docker.io/bash:5.2.21
ghcr.io/kube-vip/kube-vip:v1.0.1
ghcr.io/kube-vip/kube-vip-cloud-provider:v0.0.12
registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.14.0
registry.k8s.io/kube-scheduler:v1.31.13
registry.k8s.io/kube-proxy:v1.31.13
ghcr.io/flannel-io/flannel-cni-plugin:v1.8.0-flannel1
registry.k8s.io/kube-controller-manager:v1.31.13
registry.k8s.io/kube-apiserver:v1.31.13
docker.elastic.co/kibana/kibana:9.2.1
osixia/keepalived:2.0.20
registry.k8s.io/ingress-nginx/controller:v1.14.0@sha256:e4127065d0317bd11dc64c4dd38dcf7fb1c3d72e468110b4086e636dbaac943d
haproxy:2.8
grafana/grafana:latest
cr.fluentbit.io/fluent/fluent-bit:4.1.0
registry.k8s.io/etcd:3.5.15-0
docker.elastic.co/elasticsearch/elasticsearch:9.2.1
docker.elastic.co/eck/eck-operator:3.2.0
registry.k8s.io/sig-storage/livenessprobe:v2.17.0
registry.k8s.io/sig-storage/csi-provisioner:v5.3.0
registry.k8s.io/coredns/coredns:v1.11.3
ghcr.io/cloudnative-pg/cloudnative-pg:1.27.1
quay.io/jetstack/cert-manager-webhook:v1.19.1
ghcr.io/cloudnative-pg/plugin-barman-cloud:v0.9.0
quay.io/prometheus-operator/prometheus-config-reloader:v0.87.0
