apiVersion: fluentd.fluent.io/v1alpha1
kind: ClusterFluentdConfig
metadata:
  name: cluster-fluentd-config
  labels:
    config.fluentd.fluent.io/enabled: "true"
spec:
  watchedNamespaces: 
  - kube-system
  - cert-manager
  - ingress-nginx
  clusterOutputSelector:
    matchLabels:
      output.fluentd.fluent.io/scope: "cluster"
      output.fluentd.fluent.io/enabled: "true"
---
apiVersion: fluentd.fluent.io/v1alpha1
kind: ClusterOutput
metadata:
  name: cluster-fluentd-output-es
  labels:
    output.fluentd.fluent.io/scope: "cluster"
    output.fluentd.fluent.io/enabled: "true"
spec: 
  outputs: 
  - elasticsearch:
      host: elasticsearch-es-default.elastic-system.svc.cluster.local
      port: 9200
      user:
        valueFrom:
          secretKeyRef: 
            name: elasticsearch-user
            key: user
      password:
        valueFrom:
          secretKeyRef:
            name: elasticsearch-user
            key: password
      scheme: https
      sslVerify: false
      logstashFormat: true
      logstashPrefix: fluentd
    buffer:
      type: memory
    logLevel: debug