apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: prometheus-system
  labels:
    app: node-exporter # Match your DaemonSet labels
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9100
      targetPort: 9100
  selector:
      app: node-exporter # Match your DaemonSet labels